######################
# VS Code .gitignore #
######################
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets



# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix



#####################
# Custom .gitignore #
#####################

# Build-time 
build
*.log

# Docker, Compose
#*compose*.yaml
#*compose*.yml